// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// import core functions
@import "core/variables";

// import global sections
@import "global/base";
@import "global/header";
@import "global/footer";

// import pages
@import "pages/index";
